<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
    <title>Contract Requests</title>
    {% include "styles.html" %}
</head>
<body>
<div style="padding: 25px 25px 25px 25px;">
    <h2>Requests</h2>
    <p><a href="/contracts_req/{{ digest }}/add">Add</a></p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Contract Id</th>
            <th>Requested</th>
            <th>Vendor</th>
            <th>URLs</th>
        </tr>
        </thead>
        <tbody>
        {% for req in reqs %}
        <tr>
            <td>
                aId: {{ req.ariba_id }}<br/>
                cId: {{ req.contract_id }}<br/>
                sId: {{ req.sap_id }}
            </td>
            <td>{{ req.requested }}</td>
            <td>{{ req.name }}</td>
            <td>
                <ul>
                    {% for url in req.urls %}
                    <li><a href="{{ url.url }}">{{ url.label }}</a></li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body></html>